init-author-name=Aguirre Gonzalo Adolfo
init-author-email=gonza.a.aguirre@gmail.com
init-author-url=https://github.com/gonza7aav
init-license=MIT
init-version=0.1.0
production=false
save=true
save-exact=true
color=true

editor=C:\PROGRA~1\Git\usr\bin\nano.exe
script-shell=C:\PROGRA~1\Git/bin/bash.exe

userconfig=C:\Users\AGUIRR~1\.npmrc
cache=C:\Users\AGUIRR~1\AppData\Roaming\npm-cache